.mt-comments .mt-comment .mt-comment-img>img {
    border-radius: 0px;
    width: 80px;
    height:80px;
}

.mt-comments .mt-comment .mt-comment-body {
    padding-left: 60px;
    position: relative;
    overflow: hidden;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-info .mt-comment-date {
    float: none;
    padding-left: 10px;
    font-size: 15px;
    color: slategray;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-status.mt-comment-status-pending {
    color: grey;
}

.upload-image input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.mt-repeater {
    margin: 20px;
}

.mt-repeater .mt-repeater-delete {
    margin-top: 0;
}

.mt-repeater .mt-repeater-item {
     border-bottom: none;

}
.mt-comment-ssn{
    color: #0d1318;
    margin-bottom: 10px;
}

.mt-element-list .list-news.ext-2.mt-list-container ul>.mt-list-item>.list-datetime, .mt-element-list .list-news.ext-2.mt-list-container ul>.mt-list-item>.list-item-content {
    padding-left: 10px;
}
.form-group {
    margin-right: 50px;
}

.btn:not(.btn-sm):not(.btn-lg) {
    margin-left: 20px;
}
.mt-cant-add{
    font-weight: bolder;
    font-size: 16px;
    color: grey;
    padding: 10px;
}

.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 10px 0;
}

.caption span{
    font-size: 18px;
    padding-left: 15px;
}

.edit-family{
    font-size: 16px;
    color: gray;
    padding: 10px;
    padding-left: 10px;
}
